.list {
  padding-bottom: 5em;
  display: flex;
  width: 50%;
  padding: 20px;
}
.food-cards-container .card {
  width: 22em;
  height: 20em;
}
.food-cards-container {
  display: grid;
  margin-top: 5em;
  gap: 2em;
  width: 60em;
  height: 80em;
  margin-right: 11em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list-page {
  background-size: cover;
  min-height: calc(330vh - 12vh);
  background-image: url("https://images.pexels.com/photos/932262/pexels-photo-932262.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.cardList {
  width: 168%;
  display: flex;
  overflow: auto;
}
.list-title {
  font-size: 100px;
  font-family: "Gambetta", serif;
  color: black;
  font-weight: 700;
  margin: 0.5em;
  text-align: center;
}

.img-list {
  margin-top: 10px;
}
.card-title {
  font-size: 1.5em;
  font-weight: bold;
}
.error {
  margin-left: 50px;
}
// .success {
//   margin-left: 50px;
// }

//Background Anim
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flagList-card {
  width: 37px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  top: 63px;
  right: 7.5em;
}

.listOrigin {
  position: relative;
  top: 5px;
  left: 2.3em;
}

.listIngredients {
  position: relative;
  top: 0.5em;
}

.list-form {
  right: 5em;
  top: 9.5em;
  box-shadow: 0px 0px 15px rgb(6, 6, 6);
  height: 25em;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 1em;
  border-radius: 5px;
  flex-direction: column;
}
.list-form button {
  background-color: rgb(212, 210, 209);
}
.list-form button:hover {
  background-color: rgb(164, 163, 162);
}
.list-form input {
  margin: 3px;
}

// @media (max-width: 2000px) {
//   .cardList {
//     width: 160%;
//     margin-bottom: -200px;
//   }
//   .food-cards-container {
//     display: grid;
//     margin-right: 0em;
//     gap: 13.5em;
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   }
//   .list-page {
//     height: 180em;
//   }
//   .list-form {
//     position: fixed;
//     left: 65em;
//     top: 7em;
//   }
// }
